@model spr24_team4_finalproject.Models.FlightRoutes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FlightRoutes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>
</div>
<h5>Flights on this Route</h5>
<table class="table table-primary">
    <tr>
        <th>Departure </th>
        <th>Arrival </th>
        <th>Flight number </th>

    </tr>
    @foreach (Flights f in Model.Flight)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => f.DepartureDateTime)</td>
            <td>@Html.DisplayFor(ModelItem => f.ArrivalDateTime)</td>
            <td>@Html.DisplayFor(ModelItem => f.FlightNumber)</td>
        </tr>
    }
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FlightRoutesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
